@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #b47eb3, #95c0ff);
  color: #fff;
  padding: 4% 0 4% 10%;
  overflow: hidden;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
}

h1 img {
  width: 3.7rem;
}

button img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

button {
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 2.5rem;
  padding: 0.9rem 1.5rem;
  margin: 1.8rem 0 1.2rem;
  cursor: pointer;
}

button:hover {
  background: #571094;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 9.4rem;
  background: #fff;
  color: #333;
  padding: 1.2rem;
  margin: 1.2rem 0;
  outline: none;
  border-radius: 0.3rem;
}

.input-box img {
  width: 1.5rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

@media (max-width: 445px) {
  .container {
    padding: 11% 0 11% 4%;
  }

  .input-box {
    width: 92vw;
  }
}
